<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="main-nav" >
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu>
  <li class="menu-text">{{site.title}}</li>
  <li class="has-submenu">
    <a href="#">Videos</a>
      <ul class="submenu menu vertical" data-submenu>
        <li>
          <a href="/nya-videos.html">NYA Videos</a>
        </li>
      </ul>
      </li>
</ul>


</div>
</div>
